<%- include('partials/head') %>


<body>
<%- include('partials/navbar') %>



<div class="container">
    <h1>Browsing the <%= subreddit %> subreddit</h1>
    <!--<% for(let i = 0; i <= 10; i++){ %>-->
    <!--    <h2><%= i %></h2>-->
    <!--<% } %>-->
</div>
</body>
<%- include('partials/footer') %>

